# Use isolated node_modules to avoid conflicts with other package managers
# More info: https://pnpm.io/npmrc#node-linker
node-linker=isolated

# If you want to change the directory where pnpm stores the node_modules.nosync, you can set it here.
# This is useful if you want to have a different structure or location for your pnpm virtual store.
# Example: Set the virtual store directory to 'node_modules.nosync/.pnpm'.
# That's common on projects stored in iCloud to avoid syncing node_modules.
# More info: https://pnpm.io/npmrc#virtual-store-dir
virtual-store-dir=node_modules.nosync/.pnpm