/* Default colors */
:root {
  --color-primary: #164e63; /* cyan-900 */
  --color-secondary: #e2e8f0; /* slate-200 */
  --color-success: #0d9488; /* teal-600 */
  --color-info: #06b6d4; /* cyan-500 */
  --color-warning: #f59e0b; /* amber-500 */
  --color-pending: #d97706; /* amber-600 */
  --color-danger: #b91c1c; /* red-700 */
  --color-light: #f1f5f9; /* slate-100 */
  --color-dark: #1e293b; /* slate-800 */
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
}

/* Default dark-mode colors */
.dark {
  --color-primary: #155e75; /* cyan-800 */
  --color-slate-500: #94a3b8; /* slate-400 */
  --color-darkmode-50: 87 103 132;
  --color-darkmode-100: 74 90 121;
  --color-darkmode-200: 65 81 114;
  --color-darkmode-300: 53 69 103;
  --color-darkmode-400: 48 61 93;
  --color-darkmode-500: 41 53 82;
  --color-darkmode-600: 40 51 78;
  --color-darkmode-700: 35 45 69;
  --color-darkmode-800: 27 37 59;
  --color-darkmode-900: 15 23 42;
}

/* Theme 1 colors */
.theme-1 {
  --color-primary: #1e40af; /* blue-800 */
  --color-secondary: #e2e8f0; /* slate-200 */
  --color-success: #84cc16; /* lime-500 */
  --color-info: #06b6d4; /* cyan-500 */
  --color-warning: #facc15; /* yellow-400 */
  --color-pending: #f97316; /* orange-500 */
  --color-danger: #dc2626; /* red-600 */
  --color-light: #f1f5f9; /* slate-100 */
  --color-dark: #1e293b; /* slate-800 */
  &.dark {
    --color-primary: #1d4ed8; /* blue-700 */
  }
}

/* Theme 2 colors */
.theme-2 {
  --color-primary: #1e3a8a; /* blue-900 */
  --color-secondary: #e2e8f0; /* slate-200 */
  --color-success: #0d9488; /* teal-600 */
  --color-info: #06b6d4; /* cyan-500 */
  --color-warning: #f59e0b; /* amber-500 */
  --color-pending: #f97316; /* orange-500 */
  --color-danger: #b91c1c; /* red-700 */
  --color-light: #f1f5f9; /* slate-100 */
  --color-dark: #1e293b; /* slate-800 */
  &.dark {
    --color-primary: #1e40af; /* blue-800 */
  }
}

/* Theme 3 colors */
.theme-3 {
  --color-primary: #064e3b; /* emerald-900 */
  --color-secondary: #e2e8f0; /* slate-200 */
  --color-success: #059669; /* emerald-600 */
  --color-info: #06b6d4; /* cyan-500 */
  --color-warning: #facc15; /* yellow-400 */
  --color-pending: #f59e0b; /* amber-500 */
  --color-danger: #e11d48; /* rose-600 */
  --color-light: #f1f5f9; /* slate-100 */
  --color-dark: #1e293b; /* slate-800 */
  &.dark {
    --color-primary: #065f46; /* emerald-800 */
  }
}

/* Theme 4 colors */
.theme-4 {
  --color-primary: #312e81; /* indigo-900 */
  --color-secondary: #e2e8f0; /* slate-200 */
  --color-success: #059669; /* emerald-600 */
  --color-info: #06b6d4; /* cyan-500 */
  --color-warning: #eab308; /* yellow-500 */
  --color-pending: #ea580c; /* orange-600 */
  --color-danger: #b91c1c; /* red-700 */
  --color-light: #f1f5f9; /* slate-100 */
  --color-dark: #1e293b; /* slate-800 */
  &.dark {
    --color-primary: #4338ca; /* indigo-700 */
  }
}
